<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!average">Conteo: {{records.length}}</ion-title>
    <ion-title *ngIf="average">Promedio: {{average | averageDisplay: best}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalCtrl.dismiss()">Listo</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full">
    <ion-item *ngFor="let record of records; let index = index">
      <ion-note slot="start">{{index + 1}}</ion-note>
      <app-record-chip [record]="record"  (recordUpdated)="recordUpdated($event)"
                                          (recordDeleted)="recordDeleted($event)"></app-record-chip>
      <ion-text slot="end">{{record.creation | date:'medium'}}</ion-text>
    </ion-item>
  </ion-list>
</ion-content>