<ion-list lines="full">
  <ion-progress-bar type="indeterminate" color="primary" *ngIf="validatingLastSolve"></ion-progress-bar>
  <ion-item color="light">
    <ion-grid class="ion-no-padding">
      <ion-row class="online-room-history-row online-room-history-header">
        <ion-col size="2"></ion-col>
        <ion-col size="5">
          <app-avatar [user]="user"></app-avatar>
        </ion-col>
        <ion-col size="5">
          <app-avatar [user]="opponent"></app-avatar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item *ngFor="let scrambleIndex of [].constructor(scramblesToComplete); let index = index">
    <ion-grid class="ion-no-padding">
      <ion-row class="online-room-history-row">
        <ion-col size="2">
          <ion-note [color]="getColor(index)">{{index + 1}}</ion-note>
        </ion-col>
        <ion-col size="5">
          <app-record-chip [record]="records[index]" [canDelete]="false" (recordUpdated)="cardRecordUpdated($event)"></app-record-chip>
        </ion-col>
        <ion-col size="5">
          <app-record-chip [record]="opponentRecords[index]" [canEdit]="false" [canDelete]="false"></app-record-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>