<ion-header>
  <ion-toolbar color="momentum">
    <ion-buttons slot="start">
      <ion-button (click)="showNotifications()">
        <ion-icon slot="icon-only" [name]="true ? 'notifications-outline' : ''"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Momentum
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>