<ion-header>
  <ion-toolbar color="momentum">
    <ion-buttons slot="start">
      <ion-button (click)="showNotifications()">
        <ion-badge *ngIf="notificationsCount" class="badge-one" color="danger">{{notificationsCount}}</ion-badge>
        <ion-icon [name]="notificationsCount ? 'notifications' : 'notifications-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Momentum
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>