<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="end">
      <ion-button (click)="modalCtrl.dismiss()">Listo</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-card>
    <ion-card-header [color]="registry.won ? 'success' : 'danger' ">
      <ion-card-title>
        Promedio <strong>{{registry.average | timeDisplay}}</strong>
      </ion-card-title>
      <ion-card-subtitle>
        <ion-chip>
          <ion-avatar>
            <img [src]="registry.opponentPhotoUrl | photo: 64" alt="">
          </ion-avatar>
          <ion-label>{{registry.opponentUsername}}</ion-label>
        </ion-chip>
        <strong>{{registry.opponentAverage | timeDisplay}}</strong>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-list lines="full" class="ion-no-padding">
        <ion-item color="light">
          <ion-grid>
            <ion-row>
              <ion-col size="2"></ion-col>
              <ion-col size="5" class="online-room-history-col">
                <ion-chip>
                  <ion-avatar>
                    <img [src]="registry.userPhotoUrl | photo: 64" alt="">
                  </ion-avatar>
                  <ion-label>{{registry.userUsername}}</ion-label>
                </ion-chip>
              </ion-col>
              <ion-col size="5" class="online-room-history-col">
                <ion-chip>
                  <ion-avatar>
                    <img [src]="registry.opponentPhotoUrl | photo: 64" alt="">
                  </ion-avatar>
                  <ion-label>{{registry.opponentUsername}}</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item *ngFor="let scrambleIndex of [].constructor(scramblesToComplete); let index = index">
          <ion-grid>
            <ion-row>
              <ion-col size="2" class="registry-detail-col">
                <ion-note [color]="getColor(index)">{{index + 1}}</ion-note>
              </ion-col>
              <ion-col size="3">
                <app-record-chip [record]="registry.records[index]" [canDelete]="false" [canEdit]="false"></app-record-chip>
              </ion-col>
              <ion-col size="4">
              </ion-col>
              <ion-col size="3">
                <app-record-chip [record]="registry.opponentRecords[index]" [canEdit]="false" [canDelete]="false"></app-record-chip>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>