<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="end">
      <ion-button (click)="modalCtrl.dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-card>
    <ion-card-header [color]="registry.won ? 'success' : 'danger' ">
      <ion-card-title>
        Promedio <strong>{{registry.average | timeDisplay}}</strong>
      </ion-card-title>
      <ion-card-subtitle>        
        <app-avatar [photoURL]="registry.opponentPhotoUrl" [username]="registry.opponentUsername"></app-avatar>
        <strong>{{registry.opponentAverage | timeDisplay}}</strong>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-list lines="full" class="ion-no-padding">
        <ion-item color="light">
          <ion-grid class="ion-no-padding">
            <ion-row class="registry-detail-history-row registry-detail-history-header">
              <ion-col size="2"></ion-col>
              <ion-col size="5">
                <app-avatar [photoURL]="registry.userPhotoUrl" [username]="registry.userUsername"></app-avatar>
              </ion-col>
              <ion-col size="5">
                <app-avatar [photoURL]="registry.opponentPhotoUrl" [username]="registry.opponentUsername"></app-avatar>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item *ngFor="let scrambleIndex of [].constructor(5); let index = index">
          <ion-grid class="ion-no-padding">
            <ion-row class="registry-detail-history-row">
              <ion-col size="2">
                <ion-note [color]="getColor(index)">{{index + 1}}</ion-note>
              </ion-col>
              <ion-col size="5">
                <app-record-chip [record]="registry.records[index]" [canDelete]="false" [canEdit]="false"></app-record-chip>
              </ion-col>
              <ion-col size="5">
                <app-record-chip [record]="registry.opponentRecords[index]" [canEdit]="false" [canDelete]="false"></app-record-chip>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>