<ion-content color="light">
  <ion-progress-bar type="indeterminate" color="primary" *ngIf="loading; else roomContent"></ion-progress-bar>
  <ng-template #roomContent>
    <ion-fab slot="fixed" horizontal="end" vertical="bottom">
      <ion-fab-button color="light" (click)="showTrainingRoomSettings()">
        <ion-icon name="grid-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <app-scrambler></app-scrambler>
    <app-timer  (recordObtained)="recordObtained($event)"
                (recordDeleted)="recordDeleted($event)"
                (recordUpdated)="recordUpdated($event)"></app-timer>
    <app-training-room-average></app-training-room-average>
  </ng-template>
</ion-content>