<ion-progress-bar type="indeterminate" color="primary" *ngIf="loading; else profile"></ion-progress-bar>
<ng-template #profile>
  <ion-content color="light">
    <ion-card>
      <ion-card-header color="tertiary">
        <img [src]="user.photoUrl | photo: 512" alt="" (click)="fileInput.click()">
        <ion-progress-bar type="indeterminate" color="light" *ngIf="uploading"></ion-progress-bar>
        <ion-card-title class="profile-title" (click)="showEditUsername(user.username)">
          <ion-label>{{user.username}}</ion-label>
        </ion-card-title>
        <ion-card-subtitle>
          <ion-label>{{user.email}}</ion-label>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="ion-no-padding">
        <ion-list lines="full">
          <ion-item detail button>
            <img [src]="null | photo: 32: 'laurel-wreath--v1'" slot="start"/>
            <ion-label>Partidas con ranking</ion-label>
            <ion-note slot="end">{{user.rankedGames}}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Partidas ganadas</ion-label>
            <ion-note slot="end">{{user.rankedGamesWon}}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Promedio ultimas 10 partidas</ion-label>
            <ion-note slot="end">{{user.rankedAverage | timeDisplay}}</ion-note>
          </ion-item>
          <ion-item detail button>
            <img [src]="null | photo: 32: 'laurel-wreath--v2'" slot="start"/>
            <ion-label>Partidas sin ranking</ion-label>
            <ion-note slot="end">{{user.unrankedGames}}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Partidas ganadas</ion-label>
            <ion-note slot="end">{{user.unrankedGamesWon}}</ion-note>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
  <input type="file" style="display: none" #fileInput (change)="fileSelected(fileInput)">
</ng-template>