<ion-card color="light">
  <ion-card-header class="ion-no-padding">
    <ion-toolbar color="light">
      <ion-chip slot="end" color="medium" outline *ngIf="plus">
        <ion-label>+2</ion-label>
        <ion-icon *ngIf="editable" name="close-circle" (click)="updatePlusRecord(false)"></ion-icon>
      </ion-chip>
      <ion-chip slot="end" color="medium" outline *ngIf="dnf">
        <ion-label>DNF</ion-label>
        <ion-icon *ngIf="editable" name="close-circle" (click)="updateDNFRecord(false)"></ion-icon>
      </ion-chip>
    </ion-toolbar>
  </ion-card-header>
  <ion-card-content class="ion-no-padding">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="ready && record">
      <ion-fab-button size="small">
        <ion-icon name="cog-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top" *ngIf="!dnf">
        <ion-fab-button color="light" *ngIf="!plus" (click)="updatePlusRecord(true)">
          <ion-icon name="duplicate-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="warning" (click)="updateDNFRecord(true)">
          <ion-icon name="flag-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="start">
        <ion-fab-button color="danger" (click)="deleteRecord()">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    <!-- Normal time -->
    <div class="timer-record-container" *ngIf="!onInspection" #timerDisplay>
      <ion-text [color]="getColor()" class="timer-display">{{record | recordDisplay}}</ion-text>
    </div>
    <!-- Inspection display -->
    <div class="timer-record-container" *ngIf="onInspection" #inspectionDisplay>
      <ion-text [color]="getInspectionColor()" class="timer-display inspection-display">{{inspectionTime >= 17 ? 'DNF' : inspectionTime}}</ion-text>
    </div>
    <ion-item lines="none" color="light">
      <ion-toggle [disabled]="!ready" [(ngModel)]="inspection"></ion-toggle>
      <ion-label>Inspección</ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>