<ion-header>
  <ion-toolbar color="momentum">
    <ion-title>Momentum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../../../assets/background.jpeg" />
    <ion-card-header>
      <ion-card-title>Ingresa</ion-card-title>
      <ion-card-subtitle>this is an app for speedcubers</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" color="danger" class="ion-margin-vertical" (click)="googleSignIn()">Inicia con Google</ion-button>
      <ion-button expand="block" color="primary" class="ion-margin-vertical" (click)="facebookSignIn()">Inicia con Facebook</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
