<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header color="momentum">
      <ion-card-title>Bienvenido a Momentum</ion-card-title>
      <ion-card-subtitle>Momentum es una app hecha para speedcubers</ion-card-subtitle>
    </ion-card-header>
    <img src="../../../assets/background.jpg" />
    <ion-card-content>
      <ion-button size="large" expand="full" color="danger" class="ion-margin-vertical" (click)="googleSignIn()">
        <ion-icon name="logo-google" class="ion-margin"></ion-icon>Inicia con Google</ion-button>
      <ion-button size="large" expand="full" color="primary" class="ion-margin-vertical" (click)="facebookSignIn()">
        <ion-icon name="logo-facebook" class="ion-margin"></ion-icon>Inicia con Facebook</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
