<ion-list lines="full">
  <ion-progress-bar type="indeterminate" color="primary" *ngIf="validatingLastSolve"></ion-progress-bar>
  <ion-item *ngFor="let scrambleIndex of [].constructor(scramblesToComplete); let index = index">
    <ion-grid>
      <ion-row>
        <ion-col size="2" class="room-history-col">
          <ion-note [color]="getColor(index)">{{index + 1}}</ion-note>
        </ion-col>
        <ion-col size="3">
          <app-record-chip [record]="records[index]" [canDelete]="false" (recordUpdated)="cardRecordUpdated($event)"></app-record-chip>
        </ion-col>
        <ion-col size="4">
        </ion-col>
        <ion-col size="3">
          <app-record-chip [record]="opponentRecords[index]" [canEdit]="false" [canDelete]="false"></app-record-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>