<ion-searchbar placeHolder="Buscar amigos" [(ngModel)]="searchText" (ionChange)="loadFriends()"></ion-searchbar>
<ion-progress-bar type="indeterminate" color="primary" *ngIf="loading; else listFriends"></ion-progress-bar>
<ng-template #listFriends>
  <ion-list class="ion-no-padding" #ionListFriends>
    <ion-item-sliding *ngFor="let friend of filteredFriends">
      <ion-item-options side="start">
        <ion-item-option (click)="deleteFriendRequest(friend)" color="danger">Eliminar</ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="friend.photoURL | photo" alt="">
        </ion-avatar>
        <ion-label>{{friend.username}}</ion-label>
        <ion-note slot="end" color="warning" *ngIf="friend.status === FriendStatus.PENDING">Pendiente</ion-note>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <div class="no-records-display">
    <ion-text color="medium" *ngIf="!searchText && filteredFriends.length === 0">Intenta agregar un nuevo amigo</ion-text>
    <ion-text color="medium" *ngIf="searchText && filteredFriends.length === 0">Intenta una nueva busqueda</ion-text>
  </div>
</ng-template>
