<ion-content color="light">
  <ion-card button (click)="addWaitingPlayer(RoomType.RANKED)">
    <ion-card-header color="warning">
      <ion-card-title>Ranked</ion-card-title>
      <ion-card-subtitle>Jugadores en linea: {{50}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-list lines="full" class="ion-no-padding">
        <ion-item>
          <ion-label>Partidas jugadas</ion-label>
          <ion-note slot="end" color="warning">{{0}}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Partidas ganadas</ion-label>
          <ion-note slot="end" color="warning">{{0}}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Raninkg</ion-label>
          <ion-note slot="end" color="warning">{{"Sub-16"}}</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card button (click)="addWaitingPlayer(RoomType.UNRANKED)">
    <ion-card-header color="primary">
      <ion-card-title>Unranked</ion-card-title>
      <ion-card-subtitle>Jugadores en linea: {{150}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-list lines="full" class="ion-no-padding">
        <ion-item>
          <ion-label>Partidas jugadas</ion-label>
          <ion-note slot="end" color="primary">{{0}}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Partidas ganadas</ion-label>
          <ion-note slot="end" color="primary">{{0}}</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header color="secondary">
      <ion-card-title>Privado</ion-card-title>
      <ion-card-subtitle>Salas creadas: {{10}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-list lines="full" class="ion-no-padding">
        <ion-item detail button>
          <ion-label>Sala test</ion-label>
          <ion-note slot="end">{{today | date}}</ion-note>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button fill="clear" color="secondary" expand="full">Entrar</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="secondary" expand="full">Crear</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
