<app-header></app-header>
<ion-content>
  <ion-tabs #tabs (ionTabsDidChange)="tabChange(tabs)">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="profile" class="page">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="training-room" class="page">
        <ion-icon name="stopwatch"></ion-icon>
        <ion-label>Entrenar</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="play" class="page">
        <ion-icon name="earth"></ion-icon>
        <ion-label>Jugar</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>