<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Momentum
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="dashboard">
        <ion-icon name="pie-chart-outline"></ion-icon>
        <ion-label>Dashboard</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
      <ion-tab-button tab="room">
        <ion-icon name="stopwatch-outline"></ion-icon>
        <ion-label>Entrenar</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="play">
        <ion-icon name="earth-outline"></ion-icon>
        <ion-label>Jugar</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
