ion-tab-bar .profile{
  --color-selected: var(--ion-color-tertiary) !important;
}

ion-tab-bar .training{
  --color-selected: var(--ion-color-secondary) !important;
}

ion-tab-bar .play{
  --color-selected: var(--ion-color-warning) !important;
}