<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="end">
      <ion-button (click)="modalCtrl.dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <form [formGroup]="personalRoomForm">
    <ion-list lines="full" class="ion-no-padding">
      <ion-item>
        <ion-label>Privado</ion-label>
        <ion-toggle formControlName="isPrivate" slot="end" (ionChange)="toggleHideFriends($event)"></ion-toggle>
        <!-- <ion-checkbox formControlName="isPrivate" slot="end" (ionChange)="toggleHideFriends($event)"></ion-checkbox> -->
      </ion-item>
    </ion-list>
  </form>
  <div *ngIf="showFriends">
    <ion-searchbar placeHolder="Buscar amigos" [(ngModel)]="searchText" (ionChange)="searchFriends()"></ion-searchbar>
    <ion-list class="ion-no-padding" lines="full">
      <ion-item *ngFor="let friend of filteredFriends">
        <ion-checkbox slot="start" (ionChange)="selectFriend($event, friend)" [name]="friend.uid"></ion-checkbox>
        <ion-avatar slot="start">
          <img [src]="friend.photoURL | photo" alt="">
        </ion-avatar>
        <ion-label>{{friend.username}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="createRoom()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>